:root {
    --text-big: 36px;
    --text-medium: 24px;
    --text-semibold: 20px;
    --text-small: 16px;
    --font-body: 'Arial', 'Helvetica', sans-serif;
    --color-dark: #262014;
    --color-blue: #8AC6E8;
    --color-light: #FFFFFF;
    --color-grey: #707070;
}


div.header{
    color: var(--color-blue);
    text-align: center;
}


div.container_centre {
    text-align: center;
}

div.container_centre ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


input.form_input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 30px;
    box-sizing: border-box;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    font-size: medium;
    outline: none;
}

input.form_input_large {
    width: 100%;
    padding: 10px;
    margin: 10px 0 30px;
    box-sizing: border-box;
    height: 80px;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    font-size: medium;
    outline: none;
}


button {
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: var(--color-blue);
    color: var(--color-light);
    font-size: var(--text-semibold);
    outline: none;
    cursor: pointer;
}


button.button_medium {
    width: 60%;
    cursor: pointer;
}


/* ICONS */

/* back arrow 
        <a href=""><i class="material-icons">arrow_back</i></a>
*/
i.material-icons {
    font-size: 2rem;
    color: var(--color-dark);
    cursor: pointer;
    user-select: none;
}

i#nav_icons {
    color: var(--color-light);
    float: right;
    margin: 15px 8px;
}

i#back_icon {
    color: var(--color-light);
    float: left;
    margin: 15px 8px;
}

/* account icon 
        <a href=""><i id="all_icons"class="material-icons">account_circle</i></a> 
*/

/* cart icon
        <a href=""><i id="all_icons"class="material-icons">shopping_cart</i></a>
*/

/* notes
        <a href=""><i id="all_icons"class="material-icons">note_add</i></a>
*/

/* meetings
       <a href=""><i id="all_icons"class="material-icons">today</i></a>
*/

/*contacts
       <a href=""><i id="all_icons"class="material-icons">contact_add</i></a>
*/


/* cross icon 
        <a class="icon"id="clear_icon"><i class="material-icons">clear</i></a>
*/
i#clearIcon {
    display: flex;
    justify-content: inherit;
    float: right;
}

/*add icons*/
div.material-icons {
    font-size: 3rem;
    color: var(--color-dark);
    cursor: pointer;
    user-select: none;
}

div#add_icon {
    color: var(--color-blue);
    float: right;
    margin: 15px 15px;
}


/* NAV BAR */
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8AC6E8;
}

#navtext h2 {
    left: 50%;
    color: var(--color-grey);
    position: absolute;
    transform: translate(-50%, -10%);
}


/*SIGN UP CONTAINERS*/
.sign_up_container {
    padding: 16px;
    background-color: var(--color-light);
    left: 50%;
    width: 60%;
    color: var(--color-grey);
    position: absolute;
    transform: translate(-50%, 0%);
    margin: 20px 0px;
}

#form_input_container {
    width: 100%
}

input.form_input_left {
    width: 48%;
    padding: 10px;
    margin: 10px 0px 30px;
    margin-right: 4px;
    box-sizing: border-box;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    font-size: medium;
    outline: none;
    float: left;
}

input.form_input_right {
    width: 48%;
    padding: 10px;
    margin: 10px 0px 30px;
    margin-left: 4px;
    box-sizing: border-box;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    font-size: medium;
    outline: none;
    float: right;
}